<div class="header">

    <h1 class="header__title">Organizations</h1>

    <button ng-click="showAddForm()" class="button button_add-button">
        Add organization
    </button>

    <span class="sort-controll">Sort by:
        <select>
            <option ng-repeat="sortPredicate in sortPredicates"
                    ng-click="sortOrder(sortPredicate)">{{sortPredicate}}</option>
        </select>

        <button ng-click="reverse=!reverse" class="button">
            <span ng-hide="reverse">ASC &#9650;</span>
            <span ng-show="reverse">DESC &#9660;</span>
        </button>
    </span>

    <div ng-show="showAddFormFlag">
        <div ng-include="'organizations/_form.html'"></div>
    </div>
</div>

<div>
    <ul class="content-list">
        <li ng-repeat="organization in organizations | orderBy:predicate:reverse" class="content-list__item">
            <h2 class="h2">
                <span>{{organization.name}}</span>

                <span class="controll-buttons-group">

                <button ng-click="edit(organization.id)" class="button">edit</button>
                <button ng-click="deleteOrganization(organization)" class="button button_delete">delete</button>
                <button ng-click="showAttachments(organization)" class="button">attachments</button>

                </span>
            </h2>
            <div class="data-group">
                <span>Type: </span>
                {{organization.organization_type}}
            </div>
            <div class="data-group">
                <span class="">Address: </span>{{organization.address}}
            </div>
            <div class="data-group">
                <span class="">Telephone: </span>{{organization.telephone}}
            </div>
            <div class="data-group">
                <span class="">Description: </span>
                <span class="">{{organization.description}}</span>
            </div>
            <div ng-if="showAttachmentsFlags[organization.id]" class="data-group">
                <span ng-if="organization.attachments.length">Attachments: </span>

                <div class="attachments-box">

                    <img ng-repeat="attachment in organization.attachments | filter: {mime_type:'image/'}"
                         ng-src="{{attachment.name}}" class="attachments-box__image">

                    <div class="attachments-box__documents">
                        <div ng-repeat="attachment in organization.attachments | filter: {mime_type: 'application/'}">
                        <a  ng-href="{{attachment.name}}">{{attachment.name}}</a>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>
</div>