<div class="pageHeader">
    <h1 class="pageTitle">Organizations</h1>

    <div >
        <button ng-click="showAddOrganizationForm()"
                ng-show="showAddButton" class="addOrganizationBtn">
            Add organization
        </button>

        <div ng-hide="showAddButton" class="addOrganizationForm">
            <div ng-include="'organizations/_form.html'"></div>
        </div>
    </div>
</div>

<div>
    <ul>
        <li ng-repeat="organization in organizations | orderBy: 'name' ">
            <h1>
                {{organization.name}}
                <span class="controlButtonsBox">
                <button ng-click="edit(organization.id)" class="editBtn">edit</button>
                <button ng-click="deleteOrganization(organization)" class="deleteBtn">delete</button>
                <button ng-click="showAttachments(organization)" class="showBtn">
                    attachments</button>
                </span>
            </h1>
            <div class="infoItem">
                <span class="dbDataSign">Type: </span>{{organization.organization_type}}
            </div>
            <div class="infoItem">
                <span class="dbDataSign">Address: </span>{{organization.address}}
            </div>
            <div class="infoItem">
                <span class="dbDataSign">Telephone: </span>{{organization.telephone}}
            </div>
            <div class="infoItem">
                <span class="dbDataSign">Description: </span>
                <span class="description">{{organization.description}}</span>
            </div>
            <div ng-if="showAttachmentsFlags[organization.id]" class="infoItem">
                <span ng-if="organization.attachments.length" class="dbDataSign">Attachments: </span>
                <div class="">
                    <img ng-repeat="attachment in organization.attachments"
                         ng-src="{{attachment.name}}" class="orgImg">
                </div>
            </div>

        </li>
    </ul>
</div>