<div>
    <h3>New organization</h3>

    <div ng-bind="formError" class="error-message"></div>

    <form class="form">
        <div class="form-group">
            <label for="nameInpt">Name</label>
            <br/>
            <input ng-model="organization.name" name="name" type="text" id="nameInpt">
        </div>
        <div class="form-group">
            <div><label for="descriptionInpt">Description</label></div>
            <textarea ng-model="organization.description" name="description" id="descriptionInpt">
            </textarea>
        </div>

        <div class="form-group">
            <div><label for="orgtypeInpt">Type</label></div>
            <select ng-model="organization.organization_type" name="orgtype" id="orgtypeInpt">
                <option ng-repeat="organization_type in organization_types" value="{{organization_type}}">{{organization_type}}</option>
            </select>
        </div>

        <div class="form-group">
            <div><label for="addressInpt">Address</label></div>
            <input ng-model="organization.address" name="address" type="text" id="addressInpt">
        </div>
        <div class="form-group">
            <div><label for="telephoneInpt">Telephone</label></div>
            <input ng-model="organization.telephone" name="telephone" type="text" id="telephoneInpt">
        </div>

        <div ng-show="organization.id" class="form-group">
            <span>Attachments</span>
            <div>
                <div ngf-drop ngf-select ng-model="uploadFiles.files" class="drop-box"
                     ngf-drag-over-class="drop-box-dragover" ngf-multiple="true" ngf-allow-dir="true"
                     accept="image/*,application/pdf">
                    Drop files here or click to select
                </div>

                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                <div ng-show="uploadFiles.files">
                    Files for upload:
                    <ul>
                        <li ng-repeat="f in uploadFiles.files">
                            {{f.name}} (~{{ (f.size/1024) | number:0 }}Кб, {{f.type}})
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button ng-click="cancel()" class="button">Cancel</button>
            <button ng-click="save()" class="button">Save</button>
        </div>
    </form>

</div>